header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    line-height: 0.5em;
    color: #86868F;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
h1 {
    color: black;
}
header p span {
    margin: 10px;
    
}
header p span:not(:first-of-type) {
    color:#E491AF;
}
nav {
    color: #86868F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}
nav div span {
    margin-top: 50px;
    margin: 20px;
}
nav div span:last-of-type {
    background-color: #F3F3F4;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;

}
#rose-button, #grey-button {
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
#grey-button {
    border-color: #86868F;
}
#rose-button {
    border-color: #E491AF;
    padding-right: 50px;
}
.post {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    margin: 1%;
}
.main-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-weight: bold;
}
.profile-image img {
    border-radius: 50%;
    width: 50px;
}
.profile-image {
    flex-grow: 1;
}
.title {
    flex-grow: 4;
}
.main-image img {
    width: 100%;
}
.label {
    background-color: #CCCCCC;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}
.likes, .views {
    flex-grow: 1;
}