body {
    width: 98%;
}
.navbar-brand img {
    height: 50px;
}

.nav-item svg {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#genres {
    background-color: black;
    color:white;
    margin-left: 25px;
    height: 35px;
    width: 100px;
}

.visible-option {
    background-color: black;
    border: 1px solid grey;
}

.main-title-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.title-bar {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 25px;
    justify-items: center;
    align-items: center;
}

.list-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.list-items button {
    margin-right: 10px;
}

.account-image {
    margin-top: -5px;
}

h2 {
    margin-left: 25px;
    font-size: 1.3rem;
    padding-top: 25px;
}
.card {
    display: inline-block;
    width: 23%;
}

.card:hover {
    z-index:10;
    scale: 1.1;
    transition: all 0.1s linear;
}

.film-list {
    display: inline-block;
    margin-left: 2%;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

.link-secondary {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}