body {
    width: 98%;
}
.navbar-brand img {
    height: 50px;
}

.nav-item svg {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#genres {
    background-color: black;
    color:white;
    margin-left: 25px;
    height: 35px;
}

.visible-option {
    background-color: black;
    border: 1px solid grey;
}

.main-title-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.title-bar {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 25px;
    justify-items: center;
    align-items: center;
}

.list-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.list-items button {
    margin-right: 10px;
}

.account-image {
    margin-top: -5px;
}

h2 {
    margin-left: 25px;
    font-size: 1.3rem;
    padding-top: 25px;
}
.card {
    display: inline-block;
    width: 23%;
}

.card:hover {
    z-index:10;
    scale: 1.1;
    transition: scale 0.1s linear;
}

.film-list {
    display: inline-block;
    margin-left: 2%;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

.link-secondary {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

.left {
    position: absolute;
    left: 35px;
    z-index: 15;
    width: 50px;
    height: 50px;
    background-color: grey;
    opacity: 65%;
    color:white;
    border: none;
    border-radius: 0% 0% 50% 0%;
}

.right {
    position: absolute;
    right: 0;
    z-index: 15;
    width: 50px;
    height: 50px;
    background-color: grey;
    opacity: 65%;
    color:white;
    border: none;
    border-radius: 0% 0% 0% 50%;
}

.left:hover, .right:hover {
    opacity: 90%;
    background-color: black;
    transition: all 0.1s linear;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4A4A4A #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 5px;
  }
  *::-webkit-scrollbar-track {
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #4A4A4A;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #4A4A4A;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #4A4A4A;
  }