.card {
    position: relative;
    border-radius: 2em;
    display: inline-block;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}
.card:hover img {
    filter: brightness(60%);
}
.card:hover .header {
    opacity:1;
    transform: translateY(70px);
}
.card:hover .description,.card:hover .upload,.card:hover .menu {
    opacity:1;
    transform: translateY(-70px);
}
img {
    transition: filter 0.5s linear;
    border-radius: 2em;
}
.header {
    position: absolute;
    top: -50px;
    right: 3%;
    background-color: red;
    width: 80px;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s linear,transform 0.2s linear;
}
.header span {
    top: 10px;
    left: 18px;
    position: absolute;
}
.description {
    position: absolute;
    bottom: -50px;
    left: 3%;
    width: 65%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    opacity:0;
    transition: opacity 1s linear,transform 0.2s linear;
}
.description span {
    margin-left: 10px;
}
.description span,i {
    margin-top: 5px; 
    font-size: 2em;   
}
.upload {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 71%; 
    bottom: -50px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s linear,transform 0.2s linear;
}
.menu {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 85%; 
    bottom: -50px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s linear,transform 0.2s linear;
}
.upload i,.menu i {
    position: absolute;
    left: 11px;
    top: 4px;
}

