body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 10px;
    color: white;
}

main {
    margin: 25px;
}

.header-logo {
    background-image: url("../assets/logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: #232F3E;
    height: 50px;
    padding-left: 25px;
}

.menu {
    background-color: #364757;
    height:25px;
}

.shop-all {
    width: 100%;
    background-color: #F56600;
    text-align: center;
    color: white;
    height: 25px;
    margin: auto;
}
