body {
    margin: 0;
}

ul {
    margin: 0;
}

li {
    display: inline;
    color: white;
    margin-right: 20px;
}

main {
    margin: 25px;
}

.header-logo {
    background-color: #232F3E;
    height: 50px;
}

#logo {
    width: 125px;
    margin-left: 20px;
}

.menu {
    background-color: #364757;
    height:25px;
}

.shop-all {
    width: 100%;
    background-color: #F56600;
    text-align: center;
    color: white;
    height: 25px;
}
