* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(6,173,152);
    background: linear-gradient(90deg, rgba(6,173,152,1) 0%, rgba(0,255,154,1) 92%);        
}

#logo {
    width: 4rem;
}

.nav-item {
    text-align: center;
}

#product-form {
    margin-top: 2rem;
}

.red-required {
    color: red;
}

.intro {
    height: 100%;
}

#productsList {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    width: 18rem;
}

.card-img-top {
    height: 17rem;
    object-fit: cover;
}

.btn {
    margin-bottom: 1rem;
}

th, td {
    text-align: center;
}

.imgbackoffice {
    width: 100px;
}

.description-title {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    border-bottom: 1px solid red;
}

.price-text {
    font-size: 1.1rem;
    color: red;
    font-weight: 600;
}

#imageViewer {
    margin: 1rem;
    text-align: center;
    color: red;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100vw;
    }
    .card-img-top {
        height: 20rem;
    }
}