* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-image: url("../img/background.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: 500px;

} */

#logo {
    width: 4rem;
}

.nav-item {
    text-align: center;
}

#product-form {
    margin-top: 2rem;
}

.red-required {
    color: red;
}

.intro {
    height: 100%;
}

#productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}